<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Shrtnr</title>

    <style type="text/css">
        .short-url-block {
            display: inline-block;
            padding: 25px;
            border: 1px solid gray;
            margin-top: 10px;
            margin-bottom: 20px
        }
    </style>
</head>
<body>
    <div th:if="${shortUrlCode}" class="short-url-block">
        <div>
            <span id="shortUrlSpan" th:text="${shortUrlCode}"></span>
        </div>

        <div style="margin-top: 10px">
            <button type="button" onclick="copyToClipboard()">Copy to clipboard</button>
        </div>
    </div>

    <form method="post" th:action="@{/}">
        <div>
            <label>Enter long url</label>
        </div>
        <div>
            <textarea name="linkUrl" rows="10" cols="50" placeholder="Long url"></textarea>
        </div>
        <div>
            <button type="submit">Create short url</button>
        </div>
    </form>

    <script type="text/javascript">
        const shortUrl = document.location.href
            + (document.location.href.endsWith('/') ? '' : '/')
            + document.getElementById('shortUrlSpan').innerText;

        document.getElementById('shortUrlSpan').innerText = shortUrl;

        function copyToClipboard() {
            const shortUrlSpan = document.getElementById('shortUrlSpan');

            const tempTextArea = document.createElement('textarea');
            tempTextArea.value = shortUrlSpan.textContent;

            document.body.appendChild(tempTextArea);

            tempTextArea.select();

            if (navigator.clipboard && window.isSecureContext) {
                navigator.clipboard.writeText(tempTextArea.value);
            } else {
                document.execCommand('copy');
            }

            tempTextArea.remove();
        }
    </script>
</body>
</html>